<ul class="dates"><li class="date"><time datetime="2026-10-01T14:00"><b>1</b><small>oct.</small></time>
  <div><strong>Jeudi 1 octobre 2026 · 14h – 16h</strong><span>Atelier du jeudi après-midi — CMA Falque, 36, rue Falque, Marseille 6e</span></div>
  <a class="btn btn--petit" href="https://www.helloasso.com/associations/le-laboratoire-des-mots/evenements/ateliers-d-ecriture-creative-jeudi-apres-midi-2" rel="noopener" aria-label="Réserver : Atelier du jeudi après-midi du 1 octobre">Réserver</a></li>
<li class="date"><time datetime="2026-10-06T19:00"><b>6</b><small>oct.</small></time>
  <div><strong>Mardi 6 octobre 2026 · 19h – 21h</strong><span>Atelier du mardi soir — La Briqueterie, 19, place Jean Jaurès, Marseille 5e</span></div>
  <a class="btn btn--petit" href="https://www.helloasso.com/associations/le-laboratoire-des-mots/evenements/atelier-d-ecriture-creative-mardi-6-octobre-de-19h-a-21h" rel="noopener" aria-label="Réserver : Atelier du mardi soir du 6 octobre">Réserver</a></li>
<li class="date"><time datetime="2026-10-15T14:00"><b>15</b><small>oct.</small></time>
  <div><strong>Jeudi 15 octobre 2026 · 14h – 16h</strong><span>Atelier du jeudi après-midi — CMA Falque, 36, rue Falque, Marseille 6e</span></div>
  <a class="btn btn--petit" href="https://www.helloasso.com/associations/le-laboratoire-des-mots/evenements/atelier-d-ecriture-creative-jeudi-15-octobre-de-14h-a-16h-2" rel="noopener" aria-label="Réserver : Atelier du jeudi après-midi du 15 octobre">Réserver</a></li>
<li class="date"><time datetime="2026-10-20T19:00"><b>20</b><small>oct.</small></time>
  <div><strong>Mardi 20 octobre 2026 · 19h – 21h</strong><span>Atelier du mardi soir — La Briqueterie, 19, place Jean Jaurès, Marseille 5e</span></div>
  <a class="btn btn--petit" href="https://www.helloasso.com/associations/le-laboratoire-des-mots/evenements/atelier-d-ecriture-creative-mardi-20-octobre-de-19h-a-21h" rel="noopener" aria-label="Réserver : Atelier du mardi soir du 20 octobre">Réserver</a></li>
<li class="date"><time datetime="2026-11-03T19:00"><b>3</b><small>nov.</small></time>
  <div><strong>Mardi 3 novembre 2026 · 19h – 21h</strong><span>Atelier du mardi soir — La Briqueterie, 19, place Jean Jaurès, Marseille 5e</span></div>
  <a class="btn btn--petit" href="https://www.helloasso.com/associations/le-laboratoire-des-mots/evenements/atelier-d-ecriture-creative-mardi-3-novembre-de-19h-a-21h" rel="noopener" aria-label="Réserver : Atelier du mardi soir du 3 novembre">Réserver</a></li>
<li class="date"><time datetime="2026-11-05T14:00"><b>5</b><small>nov.</small></time>
  <div><strong>Jeudi 5 novembre 2026 · 14h – 16h</strong><span>Atelier du jeudi après-midi — CMA Falque, 36, rue Falque, Marseille 6e</span></div>
  <a class="btn btn--petit" href="https://www.helloasso.com/associations/le-laboratoire-des-mots/evenements/atelier-d-ecriture-creative-jeudi-5-novembre-de-14h-a-16h" rel="noopener" aria-label="Réserver : Atelier du jeudi après-midi du 5 novembre">Réserver</a></li>
</ul>